.header {
  text-align: center;
  background: #353535;
  padding: 32px 16px;
  border-radius: 6px 6px 0 0;
}

.header .title {
  font-size: 40px;
  padding-bottom: 16px;
  font-family: "Gilroy-Bold";
  color: #cc7949;
}
