.todo-list {
  display: flex;
  flex-direction: column;
}
.todo-list .todo-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
}

.todo-header > p {
  display: flex;
  flex-direction: column;
}

.todo-list .todo-row {
  width: 100%;
  padding: 10px 0;
}
.todo-list .button-done {
  margin-right: 8px;
}
.checkmarkButton {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.checkmarkButton > img {
  width: 24px;
  height: 24px;
}
.binButton {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  cursor: pointer;
}
.binButton > img {
  width: 24px;
  height: 24px;
}
.buttonWrapper {
  display: flex;
  align-items: center;
}
.undoButton {
  width: 24px;
  height: 24px;
  margin-left: 5px;
  cursor: pointer;
}
.undoButton > img {
  width: 24px;
  height: 24px;
}
.remove-all {
  background-color: #b63333cb;
  border-radius: 6px;
  border: 1px solid #a80606;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Gilroy-Medium";
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
}
.remove-all:hover {
  background-color: #ffffff;
  color: #af1515;
}
.todo-header-text {
  margin-bottom: 10px;
}
.MuiCardActions-root {
  padding: 0px 16px !important;
}
.MuiCardContent-root {
  padding: 5px 16px !important;
}
.MuiCardHeader-root {
  padding: 8px 16px !important;
}
