.todo-form {
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
  margin-bottom: 16px;
  width: 48%;
}
.todo-form h4 {
  padding-bottom: 12px;
}

.todo-form form {
  display: flex;
  flex-direction: column;
}

.todo-form .form-input {
  border: 2px solid #242424;
  padding: 10px;
  background: white;
  margin-bottom: 8px;
  width: 50%;
}

.todo-form .form-text {
  border: 2px solid #242424;
  background: white;
  margin-bottom: 8px;
  padding: 10px;
}

.todo-form .form-date {
    border: 2px solid #242424;
    background: white;
    margin-bottom: 8px;
    padding: 10px;
  }

.button-add:disabled {
  background: rgb(201, 198, 198);
  box-shadow: none;
  cursor: none;
  pointer-events: none;
  border: 1px solid #242424;
}