

@font-face {
  font-family: "Gilroy-Medium";
  src: url("./fonts/Gilroy-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("./fonts/Gilroy-Bold.ttf") format("truetype");
}

* {
  margin: 0;
  font-family: "Gilroy-Medium";
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.PrivateSwitchBase-root-1 {
  margin-left: 8px !important;
}
