@import "./global.css";

body {
  background-color: #191919;
}
.app {
  display: block;
  margin: 50px 0 0 0;
  padding: 0;
  font-size: 18px;
}
.container {
  border-radius: 10px;
  width: 1000px;
  min-height: 300px;
  margin: 0 auto;
  background-color: rgb(182, 182, 182);
  box-shadow: 5px 5px 50px 5px #1a1a1a;
}
.content {
  padding: 16px 32px;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: space-between;
}
.todolistCont {
  width: 48%;
}
.button {
  box-shadow: 0px 1px 0px 0px #e07c42b7;
  background: #cc7949b7;
  border-radius: 6px;
  border: 1px solid #cc7949;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Gilroy-Medium";
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px -1px 0px #5b6178;
}
.button:hover {
  background: linear-gradient(to bottom, #e07c42b7 5%, #e07c42 100%);
}
.button:active {
  position: relative;
  top: 1px;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  .container {
    width: 100%;
    font-size: 10px;
  }
  .content {
    flex-direction: column-reverse;
    width: auto;
  }
}
